language: php
php:
  - 5.3
before_script:
  - pyrus install phpunit/DbUnit
  - pyrus install phpunit/PHPUnit_Selenium
  - pyrus install phpunit/PHPUnit_Story
  - phpenv rehash
  - sh -c "mysql -e 'create database IF NOT EXISTS rox_test;'"
 
script: phpunit --configuration libraries/rox/test/phpunit.xml.dist libraries/rox/test
