body {
	background:#efefef;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

img {
	border:0;
}

a {
	color:#00d;
}

h1 {
	color:#06f;
	font-size:22px;
	margin:0 0 15px 0;
}

h2 {
	color:#333;
	font-size:18px;
	margin:0 0 20px 0;
}

h3 {
	color:#333;
	font-size:15px;
	margin:0 0 10px 0;
}

#wrapper {
	margin:0 auto;
	width:960px;
}

#container {
	background:#fffffe;
	padding:10px;
}

/** Tables **/
table {
	width:100%;
	border:0;
	border-spacing:0;
	background:#f0f6fe;
	margin:0 0 10px;
}

table tr:nth-child(odd) {
	background-color: #f8fbfe;
}

table th, table td {
	padding:8px;
}

table td {
	border-bottom:1px solid #ccc;
}

table td.money {
	text-align:right;
}

table td a {
	text-decoration:none;
}

table td a:hover {
	text-decoration:underline;
}

table th {
	color:#06c;
	background:#dde;
	text-align:left;
}

/** Pagination **/
.pagination {
	margin:0 0 10px;
}

.pagination span,
.pagination em,
.pagination a {
	padding:1px 6px;
}

.pagination em {
	color:#fff;
	background:#06f;
}

/** Flash messages **/
.flash-message {
	border: 1px solid;
	margin: 10px 0px;
	padding:10px;
}

.success-flash-message,
.notice-flash-message {
	color: #4f8a10;
	background-color: #dff2bf;
}

.warning-flash-message {
	color: #9f6000;
	background-color: #feefb3;
}

.error-flash-message {
	color: #d8000c;
	background-color: #ffbaba;
}

/** Forms **/
form .text-input label,
form .file-input label,
form .textarea-input label,
form .password-input label,
form .select-input label {
	font-size:15px;
}

form .submit input {
	font-size:20px;
}

form .text-input input,
form .password-input input,
form .select-input select {
	font-size:16px;
	padding:3px;
}

form .text-input input,
form .password-input input {
	width:300px;
}

form .textarea-input textarea {
	width:500px;
	height:160px;
	font-size:16px;
	padding:3px;
}

form .input {
	margin-bottom:1em;
}

form .input label {
	display: block;
}

form .checkbox-input label {
	display:inline;
}

form .input .error {
	color:#D8000C;
	margin:3px 0 0 0;
	font-style:italic;
}

form .input .hint {
	color:#555;
	font-size:12px;
	display:block;
}
